piscine_cpp_d02a/.git
piscine_cpp_d02m/.git
piscine_cpp_d03/.git
piscine_cpp_d06/.git
piscine_cpp_d07a/.git
piscine_cpp_d07m/.git
piscine_cpp_d08/.git
piscine_cpp_d09/.git
piscine_cpp_d010/.git
piscine_cpp_d013/.git
piscine_cpp_d014a/.git
piscine_cpp_d014m/.git
piscine_cpp_d015/.git
piscine_cpp_d016/.git
piscine_cpp_d017/.git